{%extends 'magazine/base.html' %}

{% block content %}
<h1>Здравствуй дорогой пользователь, рады видеть вас на нашем сайте. </h1>
<p>«Сайт для писателей» - это сайт, созданный для того, чтобы авторам и читателям было проще найти друг друга. Здесь вы можете разместить свои работы, для распространения своего творчества, а так же прочитать тесты, выставленные другими людьми.</p>
<p>Во вкладке «все писатели» вы можете найти имена всех авторов, которые выложили свои работы на сайте. Нажмите на интересующего вас писателя, и вас перенесет на его станицу, где будут видны все его работы.</p>
<p>Чтобы добавить свою работу вам нужно нажать на вкладку «добавить книгу». Вы сможете дать название своей работе, добавить обложку и аннотацию к своему тексту.</p>
<p>Если у вас возникли какие-то трудности или у вас есть какой-то вопрос, вы можете связаться с техподдержкой во вкладе «обратная связь ». Мы постараемся быстро решить вашу проблему.</p>
<p>Новости о нашем сайте вы можете посмотреть, перейдя по ссылке на нашу социальную сеть – группа вк «Сообщество писателей».</p>
<h2>Желаем успехов в писательском деле.</h2>
{% endblock %}
